# Fichiers générés par gcc
*.o
*.out

# Exécutables
0-node
1-left
2-right
3-del
4-leaf
5-root
6-pre
7-in
8-post
9-height
10-depth
11-size
12-leaves
13-nodes
14-balance
15-full
16-perfect
17-sibling
18-uncle
*.exe
a.out

# Fichiers de test
*.gcda
*.gcno
*.gcov

# Fichier d'affichage fourni par Holberton
binary_tree_print.c
binary_tree_print.h
binary_trees_print.c
binary_trees_print.h

# Éventuels fichiers d’éditeur
.vscode/
*.swp

# Ignore main files
*-main.c
